[Unit]
Description=Collects Data from Rocket
After=multi-user.target
Before=startApp.service

[Service]
ExecStart= [ENTER LOCATION OF EXECUTABLE SCRIPT HERE]
Type=simple

[Install]
