[Unit]
Description=Runs Ground Station
Requires=airData.service

[Service]
ExecStart=~/groundStation/os-files/gsHelper.sh
type=oneshot

[Install]
WantedBy=multi-user.target